@import "variables.module.scss";

.confirmationCode {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../../public/Homepage.jpg");
  background-position: 45%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  background-attachment: fixed;

  .confirmationCodeInput {
    padding: 10px;
    max-width: 100px;
  }
  .confirmationCodeImg {
    width: 100%;
    max-width: 1200px;
    margin: 20px;
  }

  .mobileLabel {
    width: 80%;
  }
}

.guestsList {
  background: $beige;
  min-height: 100vh;
  height: 100%;
  padding: 10px 10px 100px 10px;
  .guestCard {
    position: relative;
    background: #fff;
    min-height: 40vh;
    box-shadow: 0px 10px 20px #ccc !important;
    border-radius: 7px;
    padding: 10px;

    .guestName {
      font-family: "chapaza";
      color: $green;
      font-weight: 700;
      font-size: 1.4em;
      margin-bottom: 10px;
      padding: 10px;
    }

    .selectionRow {
      border-top: 1px solid $greenOverlay;
      border-bottom: 1px solid $greenOverlay;
      padding: 30px 30px;

      .selectionTitle {
        font-family: "chapaza";
        color: $blue;
        font-weight: 700;
        font-size: 1em;
        margin-bottom: 10px;
      }
    }

    .floatingNumber {
      position: absolute;
      top: 0px;
      right: 15px;
      text-align: right;
      font-family: "chapaza";
      color: $green;
      opacity: 0.3;
      font-size: 50px;
    }
  }
}
