$beigeOverlay: #f6f3ed;
$greenOverlay: rgba(124, 130, 116, 0.5);
$pinkOverlay: rgba(168, 130, 122, 0.5);
$blueOverlay: rgba(65, 78, 86, 0.5);
$beigeTest: #f6f3ed;

$pink: #a8827a;
$blue: #414e56;
$beige: #f6f3ed;
$green: #7c8274;
$bumbleColor: #f0c332;

$mobileThreshold: 1200px;

@font-face {
  font-family: "chaprille";
  src: url("../../../public/fonts/Chaprile calligraphy.otf");
}

@font-face {
  font-family: "chapaza";
  src: url("../../../public/fonts/Chapaza.ttf");
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  @media (max-width: $mobileThreshold) {
    width: 0px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $green;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $pink;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
  margin: 0px;
  overflow-x: hidden;
}

.main {
  position: absolute;
  top: 0.5px;
  left: 0;
  right: 0;
  bottom: 0.5px;
  overflow-x: hidden; /* or any other value */
  overflow-y: auto; /* or any other value */

  .mainCoverConfirmButton {
    background-color: $blue;
    color: $beige;
    border: 1px solid $blueOverlay;
    z-index: 5;
    width: 240px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'chapaza';
    padding-top:10px;

    svg {
      font-size: 23px;
      margin-top: -5px;
    }
    
    &:hover {
      background-color: $pink;
      color: $beige;
      border: 1px solid $pinkOverlay;
    }
  }

  section,
  .container {
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;

    @media (min-width: 768px) {
      width: 750px;
    }
    @media (min-width: 992px) {
      width: 100%;
    }
    @media (min-width: 1200px) {
      width: 1170px;
    }
  }

  hr {
    border: 1px solid $green;
    opacity: 0.25;
  }

  .sideMenu {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    background-color: $beigeTest;
    // overflow-y: scroll;
    width: 200px;
    box-shadow: 0 3px 20px rgb(0 0 0 / 0.3);
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 10;
    .menuTitle {
      font-size: 30px;
      font-weight: bold;
      color: $green;
      position: absolute;
      top: 15px;
      text-align: center;
      width: 200px;

      .mainConfirm {
        border-color: $pink;
        color: $pink;
        font-weight: bold;

        &:hover {
          background-color: $pink;
          color: #ffffff;
        }
      }
    }

    .menuFooter {
      font-size: 18px;
      color: #ffffff;
      background: $green;
      position: absolute;
      bottom: 0px;
      text-align: center;
      width: 200px;
      padding: 15px 0px 15px 0px;
    }

    .mobileSideMenuChevron {
      position: absolute;
      top: 10px;
      left: 140px;
      font-size: 50px;
      color: $green;
      cursor: pointer;

      &:hover {
        color: $pink;
      }
    }

    ul {
      list-style-type: none;
      padding: 0px;
      li {
        text-transform: uppercase;
        color: $blue;
        transition: all 0.3s ease;

        a {
          padding: 20px 20px 20px 0px;
          display: block;
          text-align: right;
        }
        &:hover {
          background-color: $blue;
          color: #ffffff;
          cursor: pointer;
        }
      }
    }

    @media (max-width: $mobileThreshold) {
      display: none;
    }
  }

  .bottomMenu {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    z-index: 10;
    box-shadow: 0px 0px 15px $green;
    display: none;
    justify-content: space-around;
    align-items: center;

    .bottomMenuOption {
      width: 20%;
      height: 60px;
      color: $green;

      &.selected {
        background: $green;
        color: #ffffff;
      }
      
      a {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        flex-direction: column;
      }
      * {
        font-size: 28px;
      }

      span {
        font-size: 14px;
      }
      // &:not(:last-child) {
      //   border-right: 1px solid $greenOverlay;
      // }

      &:hover {
        background: $green;
        color: #ffffff;
      }
    }

    @media (max-width: $mobileThreshold) {
      display: flex;
    }
  }

  .content {
    width: calc(100% - 200px);
    padding-left: 200px;

    @media (max-width: $mobileThreshold) {
      width: 100%;
      padding-left: 0px;
    }

    .morritosMainCover {
      height: 100vh;
      background: url("../../../public/Homepage.jpg");
      min-height: 500px;
      background-attachment: fixed;
      background-position: 45%;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;

      .mainCoverOverlay {
        height: 100vh;
        width: 100%;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .mainCoverText {
          font-family: "chaprille";
          font-size: 140px;
          color: $beige;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          img {
            width: 1100px;
          }

          .mobileLabel {
            width: 80%;
            margin-top: 165px;
          }
        }
      }

      .date {
        position: absolute;
        bottom: 30%;
        font-size: 40px;
        color: $beige;

        img {
          width: 300px;
        }
      }
    }

    .whoAreWe {
      height: 100vh;
      background: url("../../../public/Us.jpg");
      min-height: 500px;
      // background-attachment: fixed;
      background-position: calc(50%);
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

      h1 {
        position: absolute;
        padding: 10px 20px;
        font-family: "chaprille";
        font-size: 42px;
        letter-spacing: 2px;
        color: $blue;
      }
      @media (max-width: $mobileThreshold) {
        background-position: center;
      }

      .morritoDialog {
        position: absolute;
        padding: 15px;
        top: 250px;
        background: rgba(0, 0, 0, 0.3);
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 300px;

        @media (max-width: $mobileThreshold) {
          top: 125px !important;
          left: 0px !important;
          right: 0px !important;
          width: unset;
          margin-left: 10%;
          margin-right: 10%;
          p {
            color: #fff;
            font-size: 14px;
          }
        }

        &.tumblus {
          left: 50px;
        }

        &.nallely {
          right: 50px;
        }

        p {
          color: #fff;
          font-size: 14px;
        }
      }

      .heartButton {
        position: absolute;
        color: #ccc;
        font-weight: bold;

        border: 1px solid #ccc;
        border-radius: 100px;
        padding: 8px 8px 4px 8px;
        background: rgba(100, 100, 100, 0.7);

        svg {
          animation: pulse 0.5s infinite alternate; /* Define the animation */
        }

        @keyframes pulse {
          0% {
            font-size: 30px;
          }
          100% {
            font-size: 34px;
          }
        }

        &:hover,
        &.active {
          transform: scale(1.2);
          background: rgba(80, 80, 80, 0.7);
          cursor: pointer;
          svg {
            color: $pink;
          }
        }

        &:first-of-type {
          left: 40%;
          top: 60%;

          @media (max-width: $mobileThreshold) {
            left: 25%;
          }
        }

        &:last-of-type {
          left: 55%;
          top: 65%;

          @media (max-width: $mobileThreshold) {
            left: 60%;
          }
        }
      }
    }

    .us {
      .title {
        text-align: center;
        padding: 20px 0px;

        .hint {
          opacity: 0.5;
        }
        h1 {
          font-size: 40px;
          color: $green;
          margin: 0px;
        }
      }

      .presentation {
        display: flex;
        flex-wrap: wrap;
        padding: 40px;
        margin-bottom: 100px;
        gap: 50px;
        div {
          flex-grow: 1;
          display: flex;
          align-items: center;
          &:nth-child(1) {
            width: calc(30% - 50px);
          }

          &:nth-child(2) {
            width: calc(40% - 50px);

            img {
              width: 100% !important;
              border-radius: 20px;
            }
          }

          &:nth-child(3) {
            width: calc(30% - 50px);
          }

          h3 {
            text-align: center;
          }

          p {
            font-size: 20px;
            line-height: 35px;
            color: #777777;
          }

          @media (max-width: 1200px) {
            width: 100% !important;
          }
        }
      }
    }

    .dates {
      width: 100%;
      h1 {
        width: 100%;
        text-align: center;
        color: $green;
        font-size: 30px;
        opacity: 0.5;
        margin-top: 100px;
      }
      .date {
        height: 100vh;

        @media (max-width: $mobileThreshold) {
          height: 100%;
          &:not(:first-child) {
            border-top: 1px solid $pinkOverlay;
          }
        }

        .leftColumn {
          width: 50%;
          min-height: 100vh;
          background-attachment: fixed;
          background-position: 200px;
          background-repeat: no-repeat;
          background-size: contain;
          display: inline-block;
          position: relative;

          @media (max-width: $mobileThreshold) {
            width: 100%;
            height: 900px;
            background-position: center;
            background-size: cover;
            display: block;
          }

          .collapsableOverlay {
            background: $green;
            height: 0px;
            width: 100%;
            display: none;
            color: #fff;
            transition: all 1s ease;
            overflow-y: auto;
            z-index: 2;
            position: relative;

            h1 {
              color: #fff;
              font-family: "chapaza";
            }
            p {
              font-size: 1.1em;
              color: #fff;
              opacity: 0.8;
              padding: 20px;
              font-family: "chapaza";
            }

            @media (max-width: $mobileThreshold) {
              display: block;
            }
          }

          .collapsableOverlayButton {
            height: 60px;
            background: $blue;
            position: sticky;
            top: 20px;
            left: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-right: 20px;
            width: 240px;
            border-radius: 100px;
            color: #ffffff;
            display: none;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            text-wrap: nowrap;
            transition: all 0.5s ease;
            z-index: 1;
            font-family: "chapaza";
            cursor: pointer;
            svg {
              animation: pulse 0.5s infinite alternate; /* Define the animation */
            }

            span {
              display: block;
              font-size: 15px;
              margin-left: 5px;
            }

            &:hover {
              background: $pink;
            }

            @media (max-width: $mobileThreshold) {
              display: flex;
            }

            &.close {
              width: 40px;
              height: 40px;
              svg {
                font-size: 20px !important;
              }
            }
          }
        }

        .rightColumn {
          width: 50%;
          display: inline-block;
          vertical-align: top;
          position: relative;
          height: 100vh;

          @media (max-width: $mobileThreshold) {
            display: none;
          }

          h1 {
            position: absolute;
            z-index: -1;
            font-size: 150px;
            letter-spacing: -2px;
            color: $pink;
            opacity: 0.15;
            text-align: right;
            bottom: 30px;
            right: 30px;
            width: 100%;
            line-height: 150px;
            margin: 0px;
            text-transform: uppercase;

            @media (max-width: $mobileThreshold) {
              font-size: 100px;
              line-height: 100px;
            }
          }
          .dateContent {
            padding: 50px;

            p {
              font-size: 1.3em;
              color: $green;
              opacity: 0.8;
              font-family: "chapaza";
            }
          }
        }
      }
    }

    .mainDivider {
      width: 100%;
      background-color: $beigeOverlay;
      color: #ffffff;
      text-align: center;
      padding: 40px;
      font-size: 35px;
      line-height: 50px;

      img {
        width: 120px;
        opacity: 0.6;
      }
    }

    .totalDates {
      width: 100%;
      background-color: $blue;
      color: #ffffff;
      text-align: center;
      padding: 40px;
      font-size: 35px;
      line-height: 50px;
    }

    .bodita {
      h1 {
        width: 100%;
        color: $green;
        font-size: 40px;
        text-align: center;
      }

      .boditaCards {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 50px;

        @media screen and (max-width: 900px) {
          flex-direction: column;
        }

        .card {
          background: $beige;
          width: 50%;
          padding: 20px;
          color: #555;
          outline: 1.5px dashed $greenOverlay;
          outline-offset: 3px;

          h1 {
            text-align: center;
            font-size: 35px;
          }
          p,
          a {
            font-size: 20px;
            display: block;
            text-align: center;
          }
        }
      }
    }

    .footer {
      background: $beigeOverlay;
      margin-top: 200px;
      display: block;
      width: 100%;
      text-align: center;
      color: #555;
      margin-bottom: -16px;
      p {
        padding: 10px;
        font-size: 12px;
      }
      .footerInfo {
        padding: 30px 0px 100px 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 50px;

        @media screen and (max-width: 900px) {
          flex-direction: column;
        }
      }
    }
  }

  .fadeOut {
    opacity: 0;
    transition: opacity 0.5s;
  }
  .fadeIn {
    opacity: 1;
    transition: opacity 0.5s;
  }

  .bumble {
    width: 100%;
    font-size: 45px;
    text-align: center;
    color: $green;
    opacity: 0.5;
    // margin-bottom: 100px;
    b {
      color: $bumbleColor;
    }
  }

  .hideOnMobile {
    @media (max-width: $mobileThreshold) {
      display: none;
    }
  }
}
