$beigeOverlay: #f6f3ed;
$beige: #f6f3ed;

$mobileThreshold: 1200px;

@font-face {
  font-family: "chaprille";
  src: url("../../../public/fonts/Chaprile calligraphy.otf");
}

@font-face {
  font-family: "chapaza";
  src: url("../../../public/fonts/Chapaza.ttf");
}

html {
  overflow-x: hidden;
}

body {
    height: 100vh;
    height: -webkit-fill-available;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    pointer-events: none;
}
.main {
  position: absolute;
  top: 0.5px;
  left: 0;
  right: 0;
  bottom: 0.5px;
  overflow-x: hidden; /* or any other value */
  overflow-y: auto; /* or any other value */

  .content {
    width: calc(100% - 200px);
    padding-left: 200px;

    &.saveTheDate {
      width: 100% !important;
      padding-left: 0px !important;
      overflow: hidden;

      .mainCoverOverlay {
        background-color: rgba(0, 0, 0, 0.2);

        .mainCoverText {
          margin-top: -200px;
          display: flex;
          justify-content: center;
        }

        img {
          @media (min-width: 1200px) {
            margin-top: 250px;
            width: 900px;
            z-index: 0;
          }
        }

        @media (max-width: $mobileThreshold) {
          .mobileLabel {
            margin-top: 150px !important;
            width: 120vw !important;
          }
        }
      }
    }

    .morritosMainCover {
      height: 100vh;
      background: url("../../../public/Homepage.jpg");
      min-height: 500px;
      background-attachment: fixed;
      background-position: 45%;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;

      .mainCoverOverlay {
        height: 100vh;
        width: 100%;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .mainCoverText {
          font-family: "chaprille";
          font-size: 140px;
          color: $beige;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          img {
            width: 60vw;
          }

          .mobileLabel {
            width: 80%;
            margin-top: 165px;
          }
        }
      }

      .date {
        position: absolute;
        bottom: 30%;
        font-size: 40px;
        color: $beige;

        img {
          width: 300px;
        }
      }
    }
  }

  .hideOnMobile {
    @media (max-width: $mobileThreshold) {
      display: none;
    }
  }
}
