.whoAreWe {
    height: 100vh;
    background: url("../../../public/Us.jpg");
    min-height: 500px;
    // background-attachment: fixed;
    background-position: calc(50%);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    h1 {
      position: absolute;
      padding: 10px 20px;
      font-family: "chaprille";
      font-size: 42px;
      letter-spacing: 2px;
      color: $blue;
    }
    @media (max-width: $mobileThreshold) {
      background-position: center;
    }

    .morritoDialog {
      position: absolute;
      padding: 15px;
      top: 250px;
      background: rgba(0, 0, 0, 0.3);
      border: 1px solid #ccc;
      border-radius: 3px;
      width: 300px;

      @media (max-width: $mobileThreshold) {
        top: 125px !important;
        left: 0px !important;
        right: 0px !important;
        width: unset;
        margin-left: 10%;
        margin-right: 10%;
        p {
          color: #fff;
          font-size: 14px;
        }
      }

      &.tumblus {
        left: 50px;
      }

      &.nallely {
        right: 50px;
      }

      p {
        color: #fff;
        font-size: 14px;
      }
    }

    .heartButton {
      position: absolute;
      color: #ccc;
      font-weight: bold;

      border: 1px solid #ccc;
      border-radius: 100px;
      padding: 8px 8px 4px 8px;
      background: rgba(100, 100, 100, 0.7);

      svg {
        animation: pulse 0.5s infinite alternate; /* Define the animation */
      }

      @keyframes pulse {
        0% {
          font-size: 30px;
        }
        100% {
          font-size: 34px;
        }
      }

      &:hover,
      &.active {
        transform: scale(1.2);
        background: rgba(80, 80, 80, 0.7);
        cursor: pointer;
        svg {
          color: $pink;
        }
      }

      &:first-of-type {
        left: 40%;
        top: 60%;

        @media (max-width: $mobileThreshold) {
          left: 25%;
        }
      }

      &:last-of-type {
        left: 55%;
        top: 65%;

        @media (max-width: $mobileThreshold) {
          left: 60%;
        }
      }
    }
  }