@import "font.module.scss";

.body {
  background-color: #ffffff;
  height: 100vh;
  .mainContent {
    padding: 100px 25px 0px 100px;
    background-color: #f3f4f8;
    &.noPadding {
      padding: 75px 0px 0px 80px;

      @media (max-width: 900px) {
        padding: 0px !important;
      }
    }

    @media (max-width: 900px) {
      padding: 100px 10px 0px 10px;
      width: 100%;
      margin-left: 0px;
    }

    .fullBlock {
      padding: 10px;
      text-transform: uppercase;
      font-size: 14px;
      text-align: center;
      background: #ccc;
    }

    .editView {
      padding: 30px;

      @media (max-width: 900px) {
        padding: 0px;
        width: 100%;
        margin-left: 0px;
      }

      .form {
        .formElement {
          padding: 10px 10px 10px 0px;
        }
      }

      .mainItem {
        background: #ffffff;
        border-radius: 5px;
        border: 1px solid #dddddd;
        border-bottom: none;
        height: calc(100vh - 200px);
        position: relative;

        .verticalTabs {
          height: 100%;
        }

        .scrollableTab {
          overflow-y: scroll;
          height: 100%;
          border-bottom: 1px solid #ccc;
          background: #fff;

          @media (max-width: 900px) {
            height: calc(100%);
          }
        }
        .tabContent {
          padding: 40px;
        }

        .scrollablePanel {
          height: calc(100vh - 370px);
          overflow-y: scroll;
        }

        .mainButtonGroup {
          position: absolute;
          right: 0px;
          top: -45px;
          z-index: 10;
        }

        .editViewImage {
          border: 2px solid #dddddd;
          border-radius: 10px;
          padding: 5px;
          img {
            border-radius: 10px;
            width: 100%;
          }
        }
      }
    }
  }

  .verticalTabs {
    margin-left: 0px;
    margin-right: 0px;
  }

  .hiddenUploadButton {
    background: none;

    img {
      width: 100%;
    }

    &:hover {
      background: none;
    }
  }

  .hideOnMobile {
    @media (max-width: 900px) {
      display: none;
    }
  }
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pageLoader {
  width: 100%;
  height: calc(100vh - 200px);
}

.accordion {
  margin: 0 !important;
}

hr {
  width: 100%;
  border-top: 1px solid #ccc;
}
