.even {
    background-color: #fff;
}

.odd { 
    background-color: #f5f5f5;
}

.confirmed {
    background-color: rgba(0, 184, 148, 0.3);
}

.unconfirmed { 
    background-color: rgba(235, 77, 75, 0.3);
}